.gcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas:
    "left    middle   right1"
    "left    main     right1"
    "bottom  main     right3";
}
.item{
    
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;

}
.item1 { grid-area: left; }     
.item4 { grid-area: bottom; }   
.item2 { grid-area: middle; }   
.item5 { grid-area: main; }     
.item3 { grid-area: right1;}   
.item3 { grid-area: right1;}
.item6 { grid-area: right3;}